body, html {
    font-family: "Roboto", sans-serif;
  }
  h1, h6 {
    font-family: Shrikhand, Roboto, sans-serif;
  }
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1rem;
  }

  .logo h1 {
    text-align: center;
  }

  .gps {
    background: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 5px 5px 0px #dddddd;
  }
  .gps__search input {
    border: none;
    background: #eaeaea;
    font-size: 1rem;
    padding: 20px 5px 20px 5px;
    margin-top: 5px;
    text-align: center;
    width: 150px;
  }
  .apropos {
    background: #f6f6f6;
    text-align: center;
    width: 100%;
    padding: 40px 0;
  }
  .apropos h2 {
    font-weight: bold;
  }
  .apropos p {
    color: #4d4d4d;
  }
  
  .apropos_btn button {
    background-image: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 10px 5px;
    color: #fff;
    font-weight: bold;
    box-shadow: 4px 4px 6px #aaa;
    cursor: pointer;
  }
  .apropos_btn button:hover {
    background-color: #ae80e5;
    background-blend-mode: lighten;
    box-shadow: 4px 4px 6px #000;
  }

  .Fonctionnement {
    margin-bottom: 50px;
  }
  .Fonctionnement h2 {
    padding: 20px;
  }
  @media screen and (min-width: 1440px) {
    .Fonctionnement h2 {
      text-align: center;
    }
  }
  .Fonctionnement__A {
    list-style-type: none;
  }
  @media screen and (min-width: 768px) {
    .Fonctionnement__A {
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  .Fonctionnement__A li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding: 7px 0 7px 0;
    margin: 15px 30px 15px 0;
    border-radius: 20px;
    box-shadow: 1px 2px 8px 2px #c4c4c4;
    background-color: #f5f5f5;
  }
  @media screen and (min-width: 768px){
    .Fonctionnement__A li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px 20px 10px 25px;
    margin: 15px 20px 15px 30px;
    border-radius: 20px;
    box-shadow: 1px 2px 8px 2px #c4c4c4;
    background-color: #f5f5f5;
    }
  }
  @media screen and (min-width: 1440px){
    .Fonctionnement__A li {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      padding: 25px;
      margin: 15px 20px 15px 30px;
      border-radius: 20px;
      box-shadow: 1px 2px 8px 2px #c4c4c4;
      background-color: #f5f5f5;
    }
  }
  
  .Fonctionnement li p {
    font-weight: bold;
  }
  .Fonctionnement__A li:hover {
    background: #f2eafb;
  }
  .Fonctionnement__A li:hover .fas {
    color: #9356dc;
  }
  .Fonctionnement__A--nbr {
    background-color: #9356dc;
    color: white;
    border-radius: 50%;
    padding: 5px 9px;
    margin-left: -10px;
  }
  @media screen and (min-width: 768px){
    .Fonctionnement__A--nbr{
      margin-left: -40px;}
    }
    
    @media screen and (min-width: 1440px){
      .Fonctionnement__A--nbr{
        margin-left: -40px;}
      }
  .Fonctionnement__A--icon {
    color: grey;
    font-size: 1.2rem;
    margin-left: 20px;
  }
  .gap{
    column-gap: 20px;
  }

  .R__title {
    margin-left: 20px;}
  @media screen and (min-width: 768px) {
    .R__title {
      width: 100%;
    }
  }
  

  @media screen and (min-width: 768px) {
    .R__title h3 {
      text-align: left;
    }
  }
  
.main__R {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .main__R {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
}
@media screen and (min-width: 1280px) {
  .main__R {
    padding: 0 20%;
  }
}

.hrt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hrt h4 {
  margin: 0;
  font-size: 1.5rem;
}

.fill {
  color: black;
  cursor: pointer;
}
.fill:hover {
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}


.crt {
  border-radius: 25px;
  box-shadow: 4px 4px 6px #aaa;
  margin: 15px 30px 15px 15px;
  position: relative;
  background: #fff;
  flex-basis: 40%;
}

.crt img {
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: 100%;
  max-height: 220px;
}
.new {
  color: #008766;
  background: #99E2D0;
  border: 5px solid #99E2D0;
  border-radius: 5px;
  position: absolute;
  right: 1%;
  top: 5%;
}

.imgh{
  object-fit: cover;
  width: 100%;
  height: 250px;
  display: flex;
}

.crt figure {
  margin: 0;
}

.crt figcaption {
  margin: 0;
  padding: 10px;
}












footer {
    display: block;
    background-color: #353535;
    margin: 0;
    border: 0;
    font-size: 100%;
    padding: 25px;
    color: white;
  }

footer {
    text-align: center;
  }
footer h3 {
  font-family:"Shrikhand", "sans-serif";
  padding: 5px 0 20px 0;
}

footer a {
  color: white;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  padding: 5px 0 5px 0;
}

